.rating {
  unicode-bidi: bidi-override;
  text-align: start;
  display:inline-block;
  direction:rtl;
}
.star{
  color: gold;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 0.9em;
  font-size:30px;
}
.rating:hover{
  cursor:pointer;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\\2605";
  position: absolute;
  left: 0;
  color: gold;
}
