<!-- london locations -->
<div class="ui-g-12 ui-md-12 ui-lg-12">
  <p-selectButton (onChange)="updatePosition()" [options]="londonAreas" [(ngModel)]="selectedLondonAreas" ></p-selectButton>
</div>

<!-- activities -->
<div class="ui-g-12 ui-md-12 ui-lg-12">
  <p-selectButton (onChange)="filterGyms()" [options]="activities" [(ngModel)]="selectedActivities" multiple="multiple"></p-selectButton>
</div>
<!--<div class="ui-g-12 ui-md-12 ui-lg-12">-->
  <!--<p> selectedActivities: <span *ngFor="let selectedActivity of selectedActivities">{{selectedActivity}} </span>-->
  <!--</p>-->
<!--</div>-->

<!-- facilities -->
<div class="ui-g-12 ui-md-12 ui-lg-12">
  <p-selectButton (onChange)="filterGyms()" [options]="facilities" [(ngModel)]="selectedFacilities" multiple="multiple"></p-selectButton>
</div>
<!--<div class="ui-g-12 ui-md-12 ui-lg-12">-->
  <!--<p> selectedFacilities: <span *ngFor="let selectedFacility of selectedFacilities">{{selectedFacility}} </span>-->
  <!--</p>-->
<!--</div>-->
