<div class="row">

  <nav-bar-menu></nav-bar-menu>

</div>

<div class="ui-g">

  <filter-view></filter-view>

  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <map-view></map-view>
  </div>

</div>


<div class="container">

  <div class="row">

    <div class="col s12 m6 l4" *ngFor="let gym of gyms">

      <div class="card">
        <a href="#" (click)="markGymAsSelected(gym)">
          <div class="card-image">
            <img src="../assets/gym{{ getRandomNumberFor(gym.name) }}.jpg">
            <span class="card-title grey-transparent">{{ gym.name }}</span>
          </div>
          <div class="card-content">
            <p>{{ gym.shortDescription }}</p>
          </div>
        </a>
      </div>

      <!--<div class="card sticky-action">-->
      <!--<div class="card-image waves-effect waves-block waves-light">-->
      <!--<img class="activator" src="../assets/gym{{ getRandomNumberFor(gym.name) }}.jpg">-->
      <!--</div>-->
      <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4">{{ gym.name }}<i class="material-icons right">more_vert</i></span>-->
      <!--</div>-->
      <!--<div class="card-reveal">-->
      <!--<span class="card-title grey-text text-darken-4">Ranking<i class="material-icons right">close</i></span>-->

      <!--<div class="collection">-->
      <!--<a *ngFor="let ranking of gym.rankings | slice:0:3" href="#!" class="collection-item"><span-->
      <!--class="new badge" data-badge-caption=" ">{{ranking.value}}</span>{{ranking.name}}</a>-->
      <!--</div>-->
      <!--<div class="center-align">-->
      <!--<a class="btn-floating btn-medium waves-effect waves-light red" (click)="markGymAsSelected(gym)"><i-->
      <!--class="material-icons">toc</i></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</div>

<details-modal></details-modal>
