<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">


    <!--<div class="navbar-fixed">-->
    <div>
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <h4 class="brand-logo">{{ selectedGym.name }}</h4>
          <ul class="right hide-on-med-and-down">
            <!--<li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>-->
            <li><a href="#" (click)="closeModal()"><i class="material-icons right">close</i>Close</a></li>
            <li></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#general">General</a></li>
            <li class="tab col s3"><a href="#ranking">Ranking</a></li>
            <li class="tab col s3"><a href="#media">media</a></li>
            <li class="tab col s3 disabled"><a href="#something">something</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="general" class="container">

      <div class="row">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/TN29zjT3tcY" frameborder="0"
                  allowfullscreen></iframe>
        </div>

      </div>

      <div class="row">
        <div id="activities_facilities" class="col s12 m12 l12">
          <div *ngFor="let activity of selectedGym.activities" class="chip white-text lime darken-4">{{ activity }}
          </div>
          <div *ngFor="let facility of selectedGym.facilities" class="chip">{{ facility }}</div>

        </div>
      </div>

      <div class="row">
        <div id="description" class="col s12 m7 l8">
          <h4>Description - {{ selectedGym.name}}</h4>
          <p class="flow-text">Some sort of description... Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent et felis
            lorem.
            Phasellus vel bibendum diam. Proin id libero eget nibh auctor tincidunt. Nullam elit mauris, egestas sit
            amet
            enim a, fringilla fringilla sem. Etiam interdum, augue nec lacinia interdum, nisl justo venenatis erat, id
            aliquet sem mi vitae leo. Nunc in magna et ipsum tempor scelerisque. Sed sit amet ex auctor nunc congue
            dictum.
          </p>
        </div>
        <div id="openning_times" class="col s12 m5 l4">

          <table class="striped">
            <thead>
            <tr>
              <th></th>
              <th>Opening times</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td> Monday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Tuesday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Wednesday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Thursday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Friday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Saturday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            <tr>
              <td> Sunday:</td>
              <td>07:30 - 19:00</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="ranking" class="container">

      <table>
        <thead>
        </thead>

        <tbody>
        <tr *ngFor="let ranking of selectedGym.rankings | pairs, let i = index">
          <td *ngIf="ranking[0]">{{ranking[0].name}}: </td>
          <td *ngIf="ranking[0]"><star-rating [ratingId]="ranking[0].name" [ratingValue]="ranking[0].value" max="5"
                         color="gray" fillColor="green"
                         readonly="false"
                         (OnRatingChanged)="ratingChanged($event)">
              </star-rating>
            </td>

          <td *ngIf="ranking[1]">{{ranking[1].name}}: </td>
          <td *ngIf="ranking[1]"><star-rating [ratingId]="ranking[1].name" [ratingValue]="ranking[1].value" max="5"
                         color="gray" fillColor="green"
                         readonly="false"
                         (OnRatingChanged)="ratingChanged($event)">
              </star-rating>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div id="media" class="container">
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/TN29zjT3tcY" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>

  </div>


  <div class="modal-footer">

  </div>
</div>
