<nav>
  <div class="nav-wrapper">
    <ul>
      <li></li>
      <li><a href="#!" class="brand-logo center">GymFinder</a></li>
      <li><a href="#" id="side-menu-button" data-activates="slide-out"><i class="material-icons">menu</i></a>
      </li>
      <li></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="../../../assets/gym2.jpg">
      </div>
      <a href="#!user"><img class="circle" src="{{user.image}}"></a>
      <a href="#!name"><span class="white-text name">{{ user.name }}</span></a>
      <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
    </div>
  </li>
  <li *ngIf="!isUserLoggedIn()">
    <button class="btn red darken-2" (click)="signIn('google')">
      <span class="fa fa-google"></span> Sign in with Google
    </button>
  </li>
  <li *ngIf="!isUserLoggedIn()">
    <button class="btn light-blue darken-4" (click)="signIn('facebook')">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </button>
  </li>
  <li *ngIf="isUserLoggedIn()">
    <a class="waves-effect" href="#" (click)="logout()">Logout</a>
  </li>
</ul>
