/* You can add global styles to this file, and also import other style files */
.clickable {
  cursor: pointer;
}

.modal {
  width: 100% !important;
  max-height: 100% !important;
  /*overflow-y: hidden !important;*/
  /* uncomment to prevent from scrolling */
}

.grey-transparent{
  background-color:rgba(0,0,0,0.4);
}
