  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <sebm-google-map [latitude]="position.x" [longitude]="position.y" [zoom]="zoom">
    <map-styling></map-styling>
    <sebm-google-map-marker *ngFor="let gym of gyms" [latitude]="gym.position.x"
                            [longitude]="gym.position.y"></sebm-google-map-marker>
  </sebm-google-map>

<h1>{{ lat }}</h1>
<h1>{{ lng }}</h1>
